* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", serif;
}

img {
  max-width: 100%;
}

svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

h1 {
  color: #ffffff;
  font-size: x-large;
}

button {
  background-color: #ff5929;
  color: #000000;
  border: none;
  outline: 0;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;
}

p {
  font-size: 10px;
}

.header__menu {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header__menu .header__menu-logo svg {
  height: 50px;
  width: 50px;
  fill: #ffffff;
}
.header__menu nav {
  font-family: "Open Sans", serif;
  align-self: center;
}
.header__menu nav ul li {
  text-align: left;
  list-style: none;
}
.header__menu nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
.header__menu nav ul li a:hover {
  color: #ff5929;
}

@media (min-width: 720px) {
  .header__menu {
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
  }
  .header__menu .header__menu-logo svg {
    height: 100%;
    width: 60px;
    fill: #ffffff;
  }
  .header__menu nav ul li {
    display: inline;
    padding: 0 5px;
  }
}
.hero__img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/2hommes-camionnette.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.hero__img .hero__img-infos {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  grid-template-rows: repeat(1, 30%);
  width: 100%;
  padding: 10px;
}
.hero__img .hero__img-infos .call {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
}
.hero__img .hero__img-infos .devis-infos {
  display: inline-block;
  background-color: #ff5929;
  color: #000000;
  padding: 10px;
}

@media (min-width: 720px) {
  .hero__img {
    height: 100vh;
    padding-left: 50px;
  }
  .hero__img .hero__img-infos {
    grid-template-columns: repeat(2, 20%);
    grid-template-rows: repeat(1, 30%);
    width: 50%;
    height: 30%;
  }
  .hero__img h1 {
    font-size: 100px;
    padding-bottom: 15px;
    padding-right: 33%;
  }
}
.devis__title {
  background-color: #ff5929;
  color: #000000;
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.devis__title h2 {
  color: #ffffff;
  font-weight: 900;
  font-size: x-large;
}

.form__devis {
  background-color: #ff5929;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.form__devis .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.form__devis .row input {
  padding: 10px;
  border: none;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.about .about__back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ff5929;
}
.about .about__back .back-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.about .about__back .back-container button {
  margin-top: 8px;
  background-color: #000000;
  color: #ffffff;
}
.about .about__back .back-container h2 {
  color: #ffffff;
}
.about .about__back .back-container img {
  margin-top: 10px;
}

@media (min-width: 720px) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .about .about__back {
    display: flex;
    flex-direction: row;
    background-color: #ff5929;
    width: 100%;
    height: 100%;
  }
  .about .about__back .back-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .about .about__back .back-container h2 {
    color: #ffffff;
    font-weight: 800;
    font-size: 60px;
  }
  .about .about__back .back-container p {
    font-size: 18px;
    width: 40%;
  }
  .about .about__back .back-container button {
    width: 22%;
  }
}
.grid__containers {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
}
.grid__containers .grid__containers-items {
  text-align: left;
  margin: 20px;
}
.grid__containers .grid__containers-items .btn__orange {
  margin-top: 4px;
}

.services__h2 {
  text-align: center;
  margin-bottom: 5px;
}

@media (min-width: 720px) {
  .grid__containers {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
}
.confiance {
  max-width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/2hommes-portent-un-meuble.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10px;
}
.confiance .confiance__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: large;
  width: 100%;
  padding-top: 300px;
  padding-bottom: 300px;
}

.container__confiance {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container__confiance .confiance-dist {
  background-color: black;
  color: #ffffff;
  padding: 50px;
}
.container__confiance .confiance-assurance {
  background-color: #ff5929;
  color: #ffffff;
  padding: 50px;
}
.container__confiance .confiance-taux {
  background-color: #ffffff;
  color: #000000;
  padding: 50px;
}

.avis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avis .avis_img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.avis .avis_img p {
  padding-left: 20px;
  padding-right: 20px;
}
.avis .avis_img svg {
  fill: #000000;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .license {
  text-align: left;
  padding-bottom: 15px;
}
.footer .license li {
  padding-bottom: 4px;
  list-style: none;
}
.footer .license {
  text-align: left;
  padding-bottom: 15px;
}
.footer .license li {
  padding-bottom: 4px;
  list-style: none;
}
.footer .contact {
  text-align: left;
  padding-bottom: 15px;
}
.footer .contact li {
  padding-bottom: 4px;
  list-style: none;
}
.footer .horaires {
  text-align: left;
  padding-bottom: 15px;
}
.footer .horaires li {
  padding-bottom: 4px;
  list-style: none;
}
.footer .resources {
  text-align: left;
  padding-bottom: 15px;
}
.footer .resources li {
  padding-bottom: 4px;
  list-style: none;
}/*# sourceMappingURL=main.css.map */