.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

    .about__back {
        display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $orange;
        .back-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 10px;

            button {
                margin-top: 8px;
                background-color: $black;
                color: $white;
            }

            h2 {
                color: $white;
            }

            img {
                margin-top: 10px;
            }
        }

    }


}

@media (min-width: 720px) {
    .about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .about__back {
            display: flex;
            flex-direction: row;
            background-color: $orange;
            width: 100%;
            height: 100%;

            .back-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;

                h2 {
                    color: $white;
                    font-weight: 800;
                    font-size: 60px;
                }

                p {
                    font-size: 18px;
                    width: 40%;
                }

                button {
                    width: 22%;
                }
            }

        }
    }
}