.avis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .avis_txt {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        p {
            padding-left: 20px;
            padding-right: 20px;
        }

        svg {
            fill: $black;
        }
    }

    .avis__img {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        img {
            width: 100px
        }
    }
}

@media (min-width:720px) {
    .avis {
        .avis__img {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            img {
                width: 160px
            }
        }
    }
}