.confiance {
    max-width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/2hommes-portent-un-meuble.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;

    .confiance__txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: large;
        width: 100%;
        padding-top: 300px;
        padding-bottom: 300px;
    }
}

.container__confiance {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .confiance-dist {
        background-color: black;
        color: $white;
        padding: 50px;
    }

    .confiance-assurance {
        background-color: $orange;
        color: $white;
        padding: 50px;
    }

    .confiance-taux {
        background-color: $white;
        color: $black;
        padding: 50px;
    }
}