.devis__title {
    background-color: $orange;
    color: $black;
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    h2 {
        color: $white;
        font-weight: 900;
        font-size: x-large;
    }
}


.form__devis {
    background-color: $orange;
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-bottom: 20px;
    

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        input {
            padding: 10px;
            border: none;
        }
    }
}