.hero__img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/2hommes-camionnette.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    .hero__img-infos {
        // width: 20%;
        // padding: 10px;
        // background-color: $black;
        // color: $white;
        display: grid;
        grid-template-columns: repeat(2, 30%);
        grid-template-rows: repeat(1, 30%);
        width: 100%;
        padding: 10px;

        .call {
            display: inline-block;
            background-color: $black;
            color: $white;
            padding: 10px;
            // width: 80px;
            // height: 50px;     
        }

        .devis-infos {
            display: inline-block;
            background-color: $orange;
            color: $black;
            padding: 10px;
            // width: 80px;
            // height: 50px;
        }
    }
}

@media (min-width: 720px) {
    .hero__img {
        height: 100vh;
        padding-left: 50px;

        .hero__img-infos {
            grid-template-columns: repeat(2, 20%);
            grid-template-rows: repeat(1, 30%);
            width: 50%;
            height: 30%;
        }

        h1 {
            font-size: 100px;
            padding-bottom: 15px;
            padding-right: 33%;
        }
    }
}