.map {
    width: 100%;
    height: auto;
    margin-top: 10px;

    iframe {
        width: 100%;
    }
}

.sector__activ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

    h2 {
        font-size: 45px;
    }

    .activ-list {
        display: grid;
        grid-template-columns: repeat(2, 110px);
        grid-template-rows: repeat(1, 70px);
        column-gap: 40px;
        row-gap: 40px;

        ul{
            li{
                list-style: none;
            }
        }
    }
}


@media (min-width:720px) {
    .sector__activ {

        h2 {
            font-size: 60px;
        }

        .activ-list {
            column-gap: 50px;
            row-gap: 40px;
        }
    }
}